
profile_app/profile_app/obj/project.assets.json
profile_app/.vs/profile_app/v16/.suo
profile_app/.vs/profile_app/v16/Server/sqlite3/storage.ide
profile_app/.vs/profile_app/v16/Server/sqlite3/storage.ide-wal
profile_app/profile_app/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
profile_app/.vs/profile_app/v16/Server/sqlite3/storage.ide
profile_app/.vs/profile_app/v16/Server/sqlite3/storage.ide-wal
profile_app/profile_app/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
profile_app/profile_app/bin/Debug/netcoreapp3.1/profile_app.dll
